[submodule "libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "luajit"]
	path = deps/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "lua"]
	path = deps/lua
	url = https://github.com/lua/lua
